{% extends "layout.html"%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Trading Bot
                {% if user.is_trading %}
                    <a href="{% url "trading_bot:end_trading" %}" class="btn btn-primary">매매중지</a>
                {% else %}
                    <a href="{% url "trading_bot:start_trading" %}" class="btn btn-primary">매매시작</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
